  <hr />
  <nav>
    <a id =<%= link1 %> href="/">Overview</a>
    <a id =<%= link2 %> href="/benefits">Benefits</a>
    <a Class = "capitalize" id =<%= link3 %> href="/protocols"><%= navOption %></a>
    <a id =<%= link4 %> href="/providers">Proividers</a>
  </nav>
  <hr />